VITE_SUPABASE_URL=https://xhpvbbnnvacuiaotoduj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhocHZiYm5udmFjdWlhb3RvZHVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNTE5ODksImV4cCI6MjA4NzkyNzk4OX0.cN5yjfS_U6DGpqAowgB_jlpFufvhNXYyo8rKsn2JPfM
VITE_ADMIN_PASSWORD=asif000
VITE_GOOGLE_SHEETS_URL=
